<div class="row">
    <div class="panel panel-default panel-body">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Закажи Термин</h2>
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Закажи", "Create", "Appointment", null, new { @class="btn btn-info kopce", style = "color: white; text-decoration:none;" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Мои Термини</h2>
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Мои Термини", "Index", "Appointment", null, new { @class = "btn btn-info kopce", style = "color: white; text-decoration:none;" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Мој Профил</h2>
                </div>
                <div class="panel-body">
                    @Html.ActionLink("Моj Профил", "Index", "Manage", null, new { @class = "btn btn-info kopce", style = "color: white; text-decoration:none;" })
                </div>
            </div>
        </div>
    </div>
</div>