<div class="jumbotron">
    <h1>COVID-19 Vaccination System</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">Добредојде: @User.Identity.Name</p>
    }
    else
    {
        <p class="lead">Заштити се ти и твоите најблиски. Вакцинирај се денес!</p>
        @Html.ActionLink("Регистрација", "Register", "Account", null, new { @class = "btn btn-primary btn-lg marg", style = "color: white; text-decoration:none;" })
        @Html.ActionLink("Најавете се", "Login", "Account", null, new { @class = "btn btn-primary btn-lg marg", style = "color: white; text-decoration:none;" })

    }

    @Html.ActionLink("Новости", "Index", "News", null, htmlAttributes: new { @class = "btn btn-info btn-lg inf" })

</div>

<style>
    .marg {
        margin-right: 5px;
    }

    .inf {
        margin-left: -5px;
    }
</style>