<div class="row">
    <div class="panel panel-default panel-body">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Вакцинирај се денес</h2>
                </div>
                <div class="panel-body">
                    <img class="image" src="Photos/stay_safe.jpg"/>
                </div>
                <hr />
                <div class="panel-body" style="height: 90px">
                    <span class="txt">
                        Вакцинирајте се и заштитете се од вирусот COVID-19!
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Избор на вакцина</h2>
                </div>
                <div class="panel-body">
                    <img class="image" src="Photos/vaccine.jpg" />
                </div>
                <hr />
                <div class="panel-body" style="height: 90px">
                    <span class="txt">
                        Сите вакцини кои се достапни, се стручно тестирани од светски организации
                        и гарантираат сигурен и константен резултат.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Закажи Термин</h2>
                </div>
                <div class="panel-body">
                    <img class="image" src="Photos/vaccination.jpg" />
                </div>
                <hr />
                <div class="panel-body" style="height: 90px">
                    <span class="txt">
                        Процесот е брз и безболен. Нема од што да се плашите!
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image {
        width: 100%;
        height: 100%;
    }
</style>
