@model COVID_19_Vaccination_System.Models.NewsViewModel

@{
    ViewBag.Title = "Новости";
}

<br />
<h1 style="text-align: center">@ViewBag.Title</h1>
<br />

<div class="container-fluid">
    <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align: center">Вакцинирани граѓани по ден</h4>
                </div>
                <div class="panel-body">
                    @Html.Partial("_VaccinationNewsPartial", Model.VaccinationsNewsList)
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align: center">Промена на достапни дози</h4>
                </div>
                <div class="panel-body">
                    @Html.Partial("_ChangeInVaccinesNewsPartial", Model.ChangeInVaccinesNewsList)
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align: center">Достапни дози</h4>
                </div>
                <div class="panel-body">
                    @Html.Partial("_AvailableVaccinesPartial", Model.AvailableVaccineList)
                </div>
            </div>
        </div>
    </div>
</div>


