@model COVID_19_Vaccination_System.Models.IndexViewModel
@{
    ViewBag.Title = "Поставки";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Направи промени на твојата корисничка сметка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Лозинка:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Промени ја твојата лозинка", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Креирај", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
