
@{
    ViewBag.Title = "Грешка";
}

<h2>Грешка</h2>

<h5>Терминот за ревакцинација не може да се откаже. Ве молиме да го почитувате распоредот!</h5>
<br>
<div>
    @Html.ActionLink("Дома", "Index", "Home", null, new { @class = "btn btn-info", style = "color: white; text-decoration:none;" })
</div>

