@{
    ViewBag.Title = "Грешка";
}

<h2>Грешка</h2>
<h5>Вашиот корисник е од тип: <i>Доктор</i>. Ве молиме да креирате приватна корисничка сметка за закажување термин за вакцинација</h5>

<br />

<div>
    @Html.ActionLink("Дома", "Index", "Home", null, new { @class = "btn btn-info", style = "color: white; text-decoration:none;" })
</div>

